.x-button, .x-button.x-button-back:after, .x-button.x-button-forward:after, .x-toolbar .x-button, .x-toolbar .x-button.x-button-back:after, .x-toolbar .x-button.x-button-forward:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(50%, #d9d9d9), color-stop(51%, #cccccc), color-stop(100%, #bfbfbf));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9 50%, #cccccc 51%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #f2f2f2, #d9d9d9 50%, #cccccc 51%, #bfbfbf);
  background-image: -o-linear-gradient(top, #f2f2f2, #d9d9d9 50%, #cccccc 51%, #bfbfbf);
  background-image: linear-gradient(top, #f2f2f2, #d9d9d9 50%, #cccccc 51%, #bfbfbf); }
.x-button-round, .x-button.x-button-back-round {
  -webkit-border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -ms-border-radius: 0.9em;
  -o-border-radius: 0.9em;
  border-radius: 0.9em; }
.x-button-small, .x-button.x-button-back-small, .x-toolbar .x-button-small, .x-toolbar .x-button.x-button-back-small {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: .2em .4em;
  min-height: 0; }
.x-button-small .x-button-label, .x-button.x-button-back-small .x-button-label, .x-button-small .x-badge, .x-button.x-button-back-small .x-badge, .x-toolbar .x-button-small .x-button-label, .x-toolbar .x-button.x-button-back-small .x-button-label, .x-toolbar .x-button-small .x-badge, .x-toolbar .x-button.x-button-back-small .x-badge {
  font-size: .6em; }
.x-button-small .x-button-icon, .x-button.x-button-back-small .x-button-icon, .x-toolbar .x-button-small .x-button-icon, .x-toolbar .x-button.x-button-back-small .x-button-icon {
  width: .75em;
  height: .75em; }
.x-button.x-button-plain.x-button-pressing, .x-button.x-button-plain.x-button-pressed, .x-toolbar .x-button.x-button-plain.x-button-pressing, .x-toolbar .x-button.x-button-plain.x-button-pressed {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 24, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 24px);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 24px);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 24px);
  background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 24px); }
.x-hasbadge .x-badge {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(50%, #e60000), color-stop(51%, #cc0000), color-stop(100%, #b30000));
  background-image: -webkit-linear-gradient(top, #ff1a1a, #e60000 50%, #cc0000 51%, #b30000);
  background-image: -moz-linear-gradient(top, #ff1a1a, #e60000 50%, #cc0000 51%, #b30000);
  background-image: -o-linear-gradient(top, #ff1a1a, #e60000 50%, #cc0000 51%, #b30000);
  background-image: linear-gradient(top, #ff1a1a, #e60000 50%, #cc0000 51%, #b30000);
}
.x-panel.x-floating, .x-msgbox, .x-form.x-floating {
  background-color: #004d66; }
.x-panel.x-floating.x-floating-light, .x-msgbox.x-floating-light, .x-form.x-floating.x-floating-light {
  background-color: #33ccff; }
.x-webkit .x-anchor.x-anchor-top {
  background-color: #004d66; }
.x-webkit .x-anchor.x-anchor-bottom {
  background-color: #004d66; }
.x-webkit .x-anchor.x-anchor-left {
  background-color: #004d66; }
.x-webkit .x-anchor.x-anchor-right {
  background-color: #004d66; }

.x-floating.x-panel-light:after {
  background-color: #33ccff; }
.x-sheet, .x-picker, .x-sheet-action {
  border-top: 1px solid #007399;
  background-color: rgba(0, 77, 102, 0.9);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 134, 179, 0.9)), color-stop(50%, rgba(0, 96, 128, 0.9)), color-stop(51%, rgba(0, 77, 102, 0.9)), color-stop(100%, rgba(0, 57, 77, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(0, 134, 179, 0.9), rgba(0, 96, 128, 0.9) 50%, rgba(0, 77, 102, 0.9) 51%, rgba(0, 57, 77, 0.9));
  background-image: -moz-linear-gradient(top, rgba(0, 134, 179, 0.9), rgba(0, 96, 128, 0.9) 50%, rgba(0, 77, 102, 0.9) 51%, rgba(0, 57, 77, 0.9));
  background-image: -o-linear-gradient(top, rgba(0, 134, 179, 0.9), rgba(0, 96, 128, 0.9) 50%, rgba(0, 77, 102, 0.9) 51%, rgba(0, 57, 77, 0.9));
  background-image: linear-gradient(top, rgba(0, 134, 179, 0.9), rgba(0, 96, 128, 0.9) 50%, rgba(0, 77, 102, 0.9) 51%, rgba(0, 57, 77, 0.9));
}
.x-msgbox {
  border: 0.15em solid #33ccff;
}
.x-msgbox-dark .x-msgbox-text {
  color: rgba(255, 255, 255, 0.9);
}
.x-msgbox-dark .x-msgbox-input {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(204, 242, 255, 0.9)), color-stop(10%, rgba(229, 249, 255, 0.9)), color-stop(65%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(204, 242, 255, 0.9), rgba(229, 249, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 65%, rgba(255, 255, 255, 0.9));
  background-image: -moz-linear-gradient(top, rgba(204, 242, 255, 0.9), rgba(229, 249, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 65%, rgba(255, 255, 255, 0.9));
  background-image: -o-linear-gradient(top, rgba(204, 242, 255, 0.9), rgba(229, 249, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 65%, rgba(255, 255, 255, 0.9));
  background-image: linear-gradient(top, rgba(204, 242, 255, 0.9), rgba(229, 249, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 65%, rgba(255, 255, 255, 0.9));
  border: 0.1em solid rgba(51, 204, 255, 0.9); }
.x-toolbar-dark {
  background-color: deepskyblue;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4dd2ff), color-stop(50%, #1ac6ff), color-stop(51%, #00bfff), color-stop(100%, #00ace6));
  background-image: -webkit-linear-gradient(top, #4dd2ff, #1ac6ff 50%, #00bfff 51%, #00ace6);
  background-image: -moz-linear-gradient(top, #4dd2ff, #1ac6ff 50%, #00bfff 51%, #00ace6);
  background-image: -o-linear-gradient(top, #4dd2ff, #1ac6ff 50%, #00bfff 51%, #00ace6);
  background-image: linear-gradient(top, #4dd2ff, #1ac6ff 50%, #00bfff 51%, #00ace6);
}
.x-toolbar-dark .x-title {
  color: black;
}
.x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar-dark .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before {
  border: 1px solid #006080;
  border-top-color: #007399;
  background-color: #00ace6;
}
.x-toolbar-dark .x-button.x-button-back:before, .x-toolbar-dark .x-button.x-button-forward:before, .x-toolbar .x-toolbar-dark .x-button.x-button-back:before, .x-toolbar .x-toolbar-dark .x-button.x-button-forward:before, .x-toolbar-dark .x-field-select .x-component-outer.x-button-back:before, .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-back:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-forward:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-forward:before {
  background: #006080; }
.x-toolbar-dark .x-button, .x-toolbar-dark .x-button.x-button-back:after, .x-toolbar-dark .x-button.x-button-forward:after, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button.x-button-back:after, .x-toolbar .x-toolbar-dark .x-button.x-button-forward:after, .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar-dark .x-field-select .x-component-outer.x-button-back:after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-back:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar-dark .x-field-select .x-component-outer:before, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-forward:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-forward:after {
  background-color: #00ace6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33ccff), color-stop(50%, #00bfff), color-stop(51%, #00ace6), color-stop(100%, #0099cc));
  background-image: -webkit-linear-gradient(top, #33ccff, #00bfff 50%, #00ace6 51%, #0099cc);
  background-image: -moz-linear-gradient(top, #33ccff, #00bfff 50%, #00ace6 51%, #0099cc);
  background-image: -o-linear-gradient(top, #33ccff, #00bfff 50%, #00ace6 51%, #0099cc);
  background-image: linear-gradient(top, #33ccff, #00bfff 50%, #00ace6 51%, #0099cc); }
.x-toolbar-dark .x-button.x-button-pressing, .x-toolbar-dark .x-button.x-button-pressing:after, .x-toolbar-dark .x-button.x-button-pressed, .x-toolbar-dark .x-button.x-button-pressed:after, .x-toolbar-dark .x-button.x-button-active, .x-toolbar-dark .x-button.x-button-active:after, .x-toolbar .x-toolbar-dark .x-button.x-button-pressing, .x-toolbar .x-toolbar-dark .x-button.x-button-pressing:after, .x-toolbar .x-toolbar-dark .x-button.x-button-pressed, .x-toolbar .x-toolbar-dark .x-button.x-button-pressed:after, .x-toolbar .x-toolbar-dark .x-button.x-button-active, .x-toolbar .x-toolbar-dark .x-button.x-button-active:after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing:after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed, .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed:after, .x-toolbar-dark .x-field-select .x-component-outer.x-button-active, .x-toolbar-dark .x-field-select .x-component-outer.x-button-active:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressing:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-pressed:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-active, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer.x-button-active:after, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressing, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressing:after, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressed, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressed:after, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-active, .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-active:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressing, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressing:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressed, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-pressed:after, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-active, .x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before.x-button-active:after {
  background-color: #00a1d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007aa3), color-stop(10%, #008ebd), color-stop(65%, #00a1d6), color-stop(100%, #00a3d9));
  background-image: -webkit-linear-gradient(top, #007aa3, #008ebd 10%, #00a1d6 65%, #00a3d9);
  background-image: -moz-linear-gradient(top, #007aa3, #008ebd 10%, #00a1d6 65%, #00a3d9);
  background-image: -o-linear-gradient(top, #007aa3, #008ebd 10%, #00a1d6 65%, #00a3d9);
  background-image: linear-gradient(top, #007aa3, #008ebd 10%, #00a1d6 65%, #00a3d9); }
.x-toolbar-dark .x-label, .x-toolbar-dark .x-form-label {
  color: black;
}
.x-toolbar-light {
  background-color: #33ccff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80dfff), color-stop(50%, #4dd2ff), color-stop(51%, #33ccff), color-stop(100%, #1ac6ff));
  background-image: -webkit-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -moz-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -o-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  border-color: #002633; }
.x-toolbar-light .x-title {
  color: black;
  text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0; }
.x-toolbar-light.x-docked-top {
  border-bottom-color: #002633; }
.x-toolbar-light.x-docked-bottom {
  border-top-color: #002633; }
.x-toolbar-light.x-docked-left {
  border-right-color: #002633; }
.x-toolbar-light.x-docked-right {
  border-left-color: #002633; }
.x-toolbar-light .x-button, .x-toolbar .x-toolbar-light .x-button, .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar-light .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before {
  border: 1px solid #0086b3;
  border-top-color: #0099cc;
  background-color: #1ac6ff;
  color: black; }
.x-toolbar-light .x-button.x-button-back:before, .x-toolbar-light .x-button.x-button-forward:before, .x-toolbar .x-toolbar-light .x-button.x-button-back:before, .x-toolbar .x-toolbar-light .x-button.x-button-forward:before, .x-toolbar-light .x-field-select .x-component-outer.x-button-back:before, .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-back:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:before {
  background: #0086b3; }
.x-toolbar-light .x-button, .x-toolbar-light .x-button.x-button-back:after, .x-toolbar-light .x-button.x-button-forward:after, .x-toolbar .x-toolbar-light .x-button, .x-toolbar .x-toolbar-light .x-button.x-button-back:after, .x-toolbar .x-toolbar-light .x-button.x-button-forward:after, .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar-light .x-field-select .x-component-outer:before, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after {
  background-color: #1ac6ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66d9ff), color-stop(50%, #33ccff), color-stop(51%, #1ac6ff), color-stop(100%, #00bfff));
  background-image: -webkit-linear-gradient(top, #66d9ff, #33ccff 50%, #1ac6ff 51%, #00bfff);
  background-image: -moz-linear-gradient(top, #66d9ff, #33ccff 50%, #1ac6ff 51%, #00bfff);
  background-image: -o-linear-gradient(top, #66d9ff, #33ccff 50%, #1ac6ff 51%, #00bfff);
  background-image: linear-gradient(top, #66d9ff, #33ccff 50%, #1ac6ff 51%, #00bfff); }
.x-toolbar-light .x-button.x-button-pressing, .x-toolbar-light .x-button.x-button-pressing:after, .x-toolbar-light .x-button.x-button-pressed, .x-toolbar-light .x-button.x-button-pressed:after, .x-toolbar-light .x-button.x-button-active, .x-toolbar-light .x-button.x-button-active:after, .x-toolbar .x-toolbar-light .x-button.x-button-pressing, .x-toolbar .x-toolbar-light .x-button.x-button-pressing:after, .x-toolbar .x-toolbar-light .x-button.x-button-pressed, .x-toolbar .x-toolbar-light .x-button.x-button-pressed:after, .x-toolbar .x-toolbar-light .x-button.x-button-active, .x-toolbar .x-toolbar-light .x-button.x-button-active:after, .x-toolbar-light .x-field-select .x-component-outer.x-button-pressing, .x-toolbar-light .x-field-select .x-component-outer.x-button-pressing:after, .x-toolbar-light .x-field-select .x-component-outer.x-button-pressed, .x-toolbar-light .x-field-select .x-component-outer.x-button-pressed:after, .x-toolbar-light .x-field-select .x-component-outer.x-button-active, .x-toolbar-light .x-field-select .x-component-outer.x-button-active:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-pressing, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-pressing:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-pressed, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-pressed:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-active, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-active:after, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressing, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressing:after, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressed, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressed:after, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-active, .x-toolbar-light .x-field-select .x-component-outer:before.x-button-active:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressing, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressing:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressed, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-pressed:after, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-active, .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-active:after {
  background-color: #0ac2ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a1d6), color-stop(10%, #00b4f0), color-stop(65%, #0ac2ff), color-stop(100%, #0dc2ff));
  background-image: -webkit-linear-gradient(top, #00a1d6, #00b4f0 10%, #0ac2ff 65%, #0dc2ff);
  background-image: -moz-linear-gradient(top, #00a1d6, #00b4f0 10%, #0ac2ff 65%, #0dc2ff);
  background-image: -o-linear-gradient(top, #00a1d6, #00b4f0 10%, #0ac2ff 65%, #0dc2ff);
  background-image: linear-gradient(top, #00a1d6, #00b4f0 10%, #0ac2ff 65%, #0dc2ff); }
.x-toolbar-light .x-label, .x-toolbar-light .x-form-label {
  color: black;
  text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0; }
.x-toolbar-neutral {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ededed), color-stop(51%, #e0e0e0), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: -moz-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: -o-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
}
.x-toolbar-neutral .x-button, .x-toolbar-neutral .x-button.x-button-back:after, .x-toolbar-neutral .x-button.x-button-forward:after, .x-toolbar .x-toolbar-neutral .x-button, .x-toolbar .x-toolbar-neutral .x-button.x-button-back:after, .x-toolbar .x-toolbar-neutral .x-button.x-button-forward:after, .x-toolbar-neutral .x-field-select .x-component-outer, .x-toolbar-neutral .x-field-select .x-component-outer.x-button-back:after, .x-toolbar-neutral .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer.x-button-back:after, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer.x-button-forward:after, .x-toolbar-neutral .x-field-select .x-component-outer:before, .x-toolbar-neutral .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar-neutral .x-field-select .x-component-outer:before.x-button-forward:after, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer:before, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer:before.x-button-back:after, .x-toolbar .x-toolbar-neutral .x-field-select .x-component-outer:before.x-button-forward:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(50%, #e0e0e0), color-stop(51%, #d3d3d3), color-stop(100%, #c7c7c7));
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0 50%, #d3d3d3 51%, #c7c7c7);
  background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0 50%, #d3d3d3 51%, #c7c7c7);
  background-image: -o-linear-gradient(top, #fafafa, #e0e0e0 50%, #d3d3d3 51%, #c7c7c7);
  background-image: linear-gradient(top, #fafafa, #e0e0e0 50%, #d3d3d3 51%, #c7c7c7); }
.x-toolbar.x-toolbar-neutral .x-toolbar-inner .x-button.x-button-pressing {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 24, color-stop(0%, rgba(179, 236, 255, 0.7)), color-stop(100%, rgba(179, 236, 255, 0)));
  background-image: -webkit-radial-gradient(rgba(179, 236, 255, 0.7), rgba(179, 236, 255, 0) 24px);
  background-image: -moz-radial-gradient(rgba(179, 236, 255, 0.7), rgba(179, 236, 255, 0) 24px);
  background-image: -o-radial-gradient(rgba(179, 236, 255, 0.7), rgba(179, 236, 255, 0) 24px);
  background-image: radial-gradient(rgba(179, 236, 255, 0.7), rgba(179, 236, 255, 0) 24px); }
.x-input-el:checked + .x-field-mask::after {
  color: #33ccff; }

.x-item-disabled.x-field-checkbox .x-input-checkbox:checked + .x-field-mask::after {
  color: #99d6ea; }
.x-input-radio:checked + .x-field-mask::after {
  background: #33ccff; }

.x-item-disabled.x-field-radio .x-input-radio:checked + .x-field-mask::after {
  background: #99d6ea; }
.x-indexbar {
  color: #06a9e0; }
.x-indexbar-pressed {
  background-color: rgba(143, 158, 163, 0.8); }
.x-list .x-list-disclosure {
  background-color: #33ccff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80dfff), color-stop(3%, #4dd2ff), color-stop(100%, #1ac6ff));
  background-image: -webkit-linear-gradient(top, #80dfff, #4dd2ff 3%, #1ac6ff);
  background-image: -moz-linear-gradient(top, #80dfff, #4dd2ff 3%, #1ac6ff);
  background-image: -o-linear-gradient(top, #80dfff, #4dd2ff 3%, #1ac6ff);
  background-image: linear-gradient(top, #80dfff, #4dd2ff 3%, #1ac6ff);
}
.x-list .x-item-selected .x-list-disclosure:before {
  color: #33ccff; }
.x-list .x-list-item.x-item-pressed.x-list-item-tpl, .x-list .x-list-item.x-item-pressed .x-dock-horizontal {
  background: white none; }
.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
  background-color: #33ccff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80dfff), color-stop(50%, #4dd2ff), color-stop(51%, #33ccff), color-stop(100%, #1ac6ff));
  background-image: -webkit-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -moz-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -o-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  color: black; }
.x-list-normal .x-list-header {
  background-image: none;
  background-color: #99e6ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f9ff), color-stop(50%, #b3ecff), color-stop(51%, #99e6ff), color-stop(100%, #80dfff));
  background-image: -webkit-linear-gradient(top, #e5f9ff, #b3ecff 50%, #99e6ff 51%, #80dfff);
  background-image: -moz-linear-gradient(top, #e5f9ff, #b3ecff 50%, #99e6ff 51%, #80dfff);
  background-image: -o-linear-gradient(top, #e5f9ff, #b3ecff 50%, #99e6ff 51%, #80dfff);
  background-image: linear-gradient(top, #e5f9ff, #b3ecff 50%, #99e6ff 51%, #80dfff);
  border-top: 1px solid #99e6ff;
  border-bottom: 1px solid #33ccff;
}
.x-list-normal .x-list-item.x-item-pressed.x-list-item-tpl, .x-list-normal .x-list-item.x-item-pressed .x-dock-horizontal {
  border-top-color: white;
  background-color: white; }
.x-list-normal .x-list-item.x-item-selected.x-list-item-tpl, .x-list-normal .x-list-item.x-item-selected .x-dock-horizontal {
  border-top-color: #33ccff; }
.x-list-round.x-list-grouped .x-list-footer-wrap.x-item-selected > .x-innerhtml, .x-list-round.x-list-grouped .x-list-footer-wrap.x-item-selected > .x-dock-body {
  background-color: #33ccff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80dfff), color-stop(50%, #4dd2ff), color-stop(51%, #33ccff), color-stop(100%, #1ac6ff));
  background-image: -webkit-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -moz-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: -o-linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  background-image: linear-gradient(top, #80dfff, #4dd2ff 50%, #33ccff 51%, #1ac6ff);
  color: black; }
.x-picker-bar {
  border-top: 0.12em solid #33ccff;
  border-bottom: 0.12em solid #33ccff;
  background-color: rgba(13, 185, 242, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(85, 206, 246, 0.3)), color-stop(50%, rgba(37, 192, 244, 0.3)), color-stop(51%, rgba(13, 185, 242, 0.3)), color-stop(100%, rgba(11, 166, 218, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(85, 206, 246, 0.3), rgba(37, 192, 244, 0.3) 50%, rgba(13, 185, 242, 0.3) 51%, rgba(11, 166, 218, 0.3));
  background-image: -moz-linear-gradient(top, rgba(85, 206, 246, 0.3), rgba(37, 192, 244, 0.3) 50%, rgba(13, 185, 242, 0.3) 51%, rgba(11, 166, 218, 0.3));
  background-image: -o-linear-gradient(top, rgba(85, 206, 246, 0.3), rgba(37, 192, 244, 0.3) 50%, rgba(13, 185, 242, 0.3) 51%, rgba(11, 166, 218, 0.3));
  background-image: linear-gradient(top, rgba(85, 206, 246, 0.3), rgba(37, 192, 244, 0.3) 50%, rgba(13, 185, 242, 0.3) 51%, rgba(11, 166, 218, 0.3));
}
.x-picker-slot-title {
  border-top: 1px solid #4dd2ff;
  border-bottom: 1px solid #00ace6;
  background-color: #4dd2ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99e6ff), color-stop(50%, #66d9ff), color-stop(51%, #4dd2ff), color-stop(100%, #33ccff));
  background-image: -webkit-linear-gradient(top, #99e6ff, #66d9ff 50%, #4dd2ff 51%, #33ccff);
  background-image: -moz-linear-gradient(top, #99e6ff, #66d9ff 50%, #4dd2ff 51%, #33ccff);
  background-image: -o-linear-gradient(top, #99e6ff, #66d9ff 50%, #4dd2ff 51%, #33ccff);
  background-image: linear-gradient(top, #99e6ff, #66d9ff 50%, #4dd2ff 51%, #33ccff); }
.x-picker-slot-title > div {
  color: #0981aa;
}
.x-list-paging .x-list-paging-msg {
  color: #33ccff;
}
.x-tabbar-light {
  border-top-color: #25c0f4;
  border-bottom-color: #0ba6da;
  background-color: #3dc7f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #86dcf9), color-stop(50%, #55cef6), color-stop(51%, #3dc7f5), color-stop(100%, #25c0f4));
  background-image: -webkit-linear-gradient(top, #86dcf9, #55cef6 50%, #3dc7f5 51%, #25c0f4);
  background-image: -moz-linear-gradient(top, #86dcf9, #55cef6 50%, #3dc7f5 51%, #25c0f4);
  background-image: -o-linear-gradient(top, #86dcf9, #55cef6 50%, #3dc7f5 51%, #25c0f4);
  background-image: linear-gradient(top, #86dcf9, #55cef6 50%, #3dc7f5 51%, #25c0f4); }
.x-tabbar-light .x-tab {
  color: #054a61;
}
.x-tabbar-light .x-tab-active {
  color: black;
  border-bottom-color: #4ccbf6; }
.x-tabbar-light .x-tab-active .x-button-icon:before {
  color: #99e6ff; }
.x-tabbar-light .x-tab-pressed {
  color: black; }

.x-tabbar-light.x-docked-bottom .x-tab {
  text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0; }
.x-tabbar-light.x-docked-bottom .x-tab-active {
  background-color: #25c0f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0ba6da), color-stop(10%, #0db9f2), color-stop(65%, #25c0f4), color-stop(100%, #27c1f4));
  background-image: -webkit-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: -moz-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: -o-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  -webkit-box-shadow: #0db9f2 0 0 0.25em inset;
  -moz-box-shadow: #0db9f2 0 0 0.25em inset;
  box-shadow: #0db9f2 0 0 0.25em inset; }
.x-tabbar-light.x-docked-bottom .x-tab-active .x-button-icon:before {
  color: #99e6ff; }

.x-tabbar-light.x-docked-top .x-tab-active {
  background-color: #25c0f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0ba6da), color-stop(10%, #0db9f2), color-stop(65%, #25c0f4), color-stop(100%, #27c1f4));
  background-image: -webkit-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: -moz-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: -o-linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  background-image: linear-gradient(top, #0ba6da, #0db9f2 10%, #25c0f4 65%, #27c1f4);
  color: black; }
.x-tabbar-dark {
  border-top-color: #0086b3;
  border-bottom-color: #006080;
  background-color: #0099cc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1ac6ff), color-stop(50%, #00ace6), color-stop(51%, #0099cc), color-stop(100%, #0086b3));
  background-image: -webkit-linear-gradient(top, #1ac6ff, #00ace6 50%, #0099cc 51%, #0086b3);
  background-image: -moz-linear-gradient(top, #1ac6ff, #00ace6 50%, #0099cc 51%, #0086b3);
  background-image: -o-linear-gradient(top, #1ac6ff, #00ace6 50%, #0099cc 51%, #0086b3);
  background-image: linear-gradient(top, #1ac6ff, #00ace6 50%, #0099cc 51%, #0086b3); }
.x-tabbar-dark .x-tab {
  color: #99e6ff;
}
.x-tabbar-dark .x-tab-active {
  border-bottom-color: #00a4db; }
.x-tabbar-dark .x-tab-active .x-button-icon:before {
  color: #ccf2ff; }
.x-tabbar-dark.x-docked-bottom .x-tab-active {
  background-color: #0086b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006080), color-stop(10%, #007399), color-stop(65%, #0086b3), color-stop(100%, #0088b5));
  background-image: -webkit-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: -moz-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: -o-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  -webkit-box-shadow: #007399 0 0 0.25em inset;
  -moz-box-shadow: #007399 0 0 0.25em inset;
  box-shadow: #007399 0 0 0.25em inset; }
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
  color: #ccf2ff; }
.x-tabbar-dark.x-docked-top .x-tab-active {
  background-color: #0086b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006080), color-stop(10%, #007399), color-stop(65%, #0086b3), color-stop(100%, #0088b5));
  background-image: -webkit-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: -moz-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: -o-linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
  background-image: linear-gradient(top, #006080, #007399 10%, #0086b3 65%, #0088b5);
}
.x-tabbar-neutral {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ededed), color-stop(51%, #e0e0e0), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: -moz-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: -o-linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3);
  background-image: linear-gradient(top, #ffffff, #ededed 50%, #e0e0e0 51%, #d3d3d3); }
